body {
    font-family: Helvetica, Tahoma, sans-serif;
    background-color: antiquewhite;
}

ul, h1 {
    color: rgb(168, 63, 63);
    
}

h3, #home-head {
    text-align: center;
    background-color: rgba(166, 166, 166, 0.4)
}

.ingredients {
    color: black;
}